.modal-content {
	border-radius: 7px;
	border: none;
	box-shadow: none;
	overflow: hidden;

	.modal-header {
		align-items: center;
		padding: 20px 30px;
		background-color: $color-primary;
		color: white;
		border-bottom: none;

		.modal-title {
			display: flex;
			align-items: center;
			line-height: 13px;

			i, figure.avatar {
				margin-right: .7rem;
				font-size: $default-font-size + 3;
			}

			svg {
				width: 18px;
				height: 18px
			}

			& + button {
				display: flex;
				align-items: center;
				justify-content: center;
				text-shadow: none;
				font-size: $default-font-size - 2;
				margin: 0;
				background-color: rgba(white, .3);
				border-radius: 50%;
				padding: 0;
				width: 30px;
				height: 30px;
				color: white;
				opacity: 1;
			}
		}
	}

	.modal-body {
		padding: 30px;

		.modal-refresh {
			color: $color-dark;
		}
	}

	.modal-footer {
		border-top: none;
		padding: 30px;
		padding-top: 0;
	}
}

body:not(.no-blur-effect) {
	&.modal-open .layout {
		-webkit-filter: blur(1.5px);
		-moz-filter: blur(1.5px);
		-o-filter: blur(1.5px);
		-ms-filter: blur(1.5px);
		filter: blur(1.5px);
	}

	.modal.fade .modal-dialog.modal-dialog-zoom {
		-webkit-transform: translate(0, 0) scale(.95);
		transform: translate(0, 0) scale(.95);
	}

	.modal.show .modal-dialog.modal-dialog-zoom {
		-webkit-transform: translate(0, 0) scale(1);
		transform: translate(0, 0) scale(1);
	}
}

.call {
	text-align: center;

	.modal-content {

		.modal-body {
			padding: 50px 0;
		}
	}

	.action-button {
		margin-top: 3rem;

		.btn {
			width: 70px;
			height: 70px;
			margin: 0 15px;

			svg {
				width: 28px;
				height: 28px
			}
		}
	}
}

.edit-partner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 30px 50px;
	min-height: 70%;
	min-width: 50%;
	background: linear-gradient(45deg, #fbda61, #ff5acd);
	border-radius: 7px;
	border: none;
	box-shadow: none;
	.modal-content {
		overflow: visible;
		justify-content: center;
		align-items: center;
		background-color: transparent;

		.card {
			position: relative;
			width: 350px;
			min-height: 450px;
			background: #fff;
			border-radius: 20px;
			box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
			transition: 0.4s;
	
			.avatar {
				position: absolute;
				left: 50%;
				top: -50px;
				transform: translateX((-50%));
				width: 250px;
				height: 250px;
				background: #fff;
				border-radius: 20px;
				box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
				overflow: hidden;
				transition: 0.4s;
	
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.photo-mask {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 20px;
					background: rgba(white, 0.5);
					justify-content: center;
					align-items: center;
					display: flex;
					cursor: pointer;
					transition: 0.4s;

					input {
						display: none;
					}

					.add-photo {
						transform: rotateZ(90deg);
						transition: 0.4s;
						justify-content: center;
						align-items: center;
						display: flex;
						background: #fff;
						opacity: 0.5;
						width: 36px;
						height: 36px;
						border-radius: 18px;
						box-shadow: 0 15px 50px rgba(0,0,0,0.35);

						.icon {
							color: #828282;
							width: 24px;
							height: 24px;
							transition: 0.4s;
						}
					}
				}

				.photo-mask:hover {
					.add-photo {
						transform: rotateZ(0deg);
						width: 54px;
						height: 54px;
						border-radius: 27px;
						opacity: 1;

						.icon {
							color: black;
							width: 36px;
							height: 36px;
						}
					}
				}
			}
	
			.content {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				overflow: hidden;
	
				.details {
					padding: 40px;
					text-align: center;
					width: 100%;

					.confirm {
						border: none;
						outline: none;
						background: transparent;
						color: $color-primary;
						opacity: 0.5;
						transition: 0.4s;
						width: 25px;
						height: 25px;
						margin: 0px 10px;
						cursor: pointer;
					}

					.confirm:hover {
						opacity: 1;
					}

					.cancel {
						border: none;
						outline: none;
						background: transparent;
						color: $color-danger;
						opacity: 0.5;
						transition: 0.4s;
						width: 25px;
						height: 25px;
						margin: 0px 10px;
						cursor: pointer;
					}

					.cancel:hover {
						opacity: 1;
					}

					.edit {
						border: none;
						outline: none;
						background: transparent;
						color: $color-primary-bright;
						opacity: 0.5;
						transition: 0.4s;
						width: 25px;
						height: 25px;
						margin: 0px 10px;
						cursor: pointer;
					}

					.edit:hover {
						opacity: 1;
					}
	
					.not-editing {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
					}

					h2 {
						font-size: 1.35em;
						font-weight: 600;
						color: #828282;
						line-height: 1.3rem;
						margin: 0px;
					}

					h3 {
						font-size: 0.9rem;
						font-weight: 500;
						opacity: 0.5;
						margin: 0px;
					}

					input {
						border-radius: 5px;
						border: 1px solid $style-color;
						height: 35px;
					}

					input::placeholder {
						color: $color-primary-bright;
					}

					input:focus {
						border: 1px solid $color-primary;
					}
	
					.socials {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						margin: 20px 0;

						.social-editor {
							display: flex;
							flex-direction: row;
							width: 100%;
							height: 50px;

							.link {
								flex-direction: column;

								h3 {

								}
							}

							.logo {
								flex-direction: column;
							}
						}

						.add-social {
							display: flex;
							flex-direction: row;

							h3 {
								font-size: 0.9rem;
								font-weight: 500;
								opacity: 0.5;
								margin: 0px;
							}
		
							.add-photo {
								transform: rotateZ(90deg);
								transition: 0.4s;
								justify-content: center;
								align-items: center;
								display: flex;
								background: #fff;
								width: 40px;
								height: 40px;
								border-radius: 20px;
								box-shadow: 0 15px 50px rgba(0,0,0,0.35);
								cursor: pointer;
		
								svg {
									color: #828282;
									width: 25px;
									height: 25px;
									transition: 0.4s;
								}
							}
							.add-photo:hover {
								transform: rotateZ(0deg);
		
								svg {
									color: black;
								}
							}
						}
					}
	
					.action-button {
						display: flex;
						justify-content: space-between;
						gap: 20px;
	
						button {
							padding: 10px 30px;
							border-radius: 5px;
							border: none;
							outline: none;
							font-size: 1em;
							font-weight: 500;
							background: #fff;
							text-transform: none;
							border: 1px solid $color-primary;
							color: $color-primary;
							cursor: pointer;
							transition: 0.4s;
							&:hover {
								background: $color-primary;
								color: #fff;
							}
						}
						button:nth-child(2) {
							border: 1px solid $color-danger;
							color: $color-danger;
							background: #fff;
							&:hover {
								background: $color-danger;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}